##### [실습] titanic 승객 데이터 활용

**컬럼 설명** 
- PassengerId - 승객 고유번호
- Survived - 생존유무(target 값) (0 = 사망, 1 = 생존)
- Pclass - 티켓 클래스 (1 = 1st, 2 = 2nd, 3 = 3rd)
- Name - 탑승객 성명
- Sex - 성별 (male: 남성, female: 여성)
- Age - 나이(세)
- SibSp - 함께 탑승한 형제자매, 배우자 수 총합
- Parch - 함께 탑승한 부모, 자녀 수 총합
- Ticket - 티켓 넘버
- Fare - 탑승 요금
- Cabin - 객실 넘버
- Embarked - 탑승 항구 (C: Cherbourg, Q: Queenstown, S: Southampton)

In [1]:
# titanic.csv 파일 로드
# titanic 데이터셋의 메타 데이터 확인

import pandas as pd

# titanic.csv 파일 로드
file_path = r'C:\Users\75050\Desktop\WIA\lecture Source\03_Matplotlib-main\eda_practice\data\titanic.csv'
titanic = pd.read_csv(file_path)

# 1. 데이터 일부 미리보기
print(titanic.head())

# 2. 전체 컬럼, 타입, 결측값 등 메타데이터 확인
print("\n[Info]")
print(titanic.info())

print("\n[Describe]")
print(titanic.describe(include='all'))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

[Info]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

[Describe]
        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare Cabin Embarked
count   714.000000  891.000000  891.000000     891  891.000000   204      889
unique         NaN         NaN         NaN     681         NaN   147        3
top            NaN         NaN         NaN  347082         NaN    G6        S
freq           NaN         NaN         NaN       7         NaN     4      644
mean     29.699118    0.523008    0.381594     NaN   32.204208   NaN      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429   NaN      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000   NaN      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400   NaN      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200   NaN      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000   NaN      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200   NaN      NaN

- 기초문제

In [2]:
# 1. 전체 승객 중 생존자의 수와 사망자의 수를 구하여 출력

print("\n1. 생존자와 사망자 수")
print(titanic['Survived'].value_counts())

1. 생존자와 사망자 수
Survived
0    549
1    342
Name: count, dtype: int64

In [3]:
# 2. 승객 나이의 평균 출력

print("\n2. 승객 평균 나이")
print(titanic['Age'].mean())

2. 승객 평균 나이
29.69911764705882

In [4]:
# 3. 1등급 승객 중 운임이 가장 높은 승객의 이름 출력

print("\n3. 1등급 중 최고 운임 승객 이름")
pclass1 = titanic[titanic['Pclass'] == 1]
max_fare_row = pclass1.loc[pclass1['Fare'].idxmax()]
print('최고 운임 승객:', max_fare_row['Name'])

3. 1등급 중 최고 운임 승객 이름
최고 운임 승객: Ward, Miss. Anna

In [5]:
# 4. 여성 승객의 수를 구하여 출력

print("\n4. 여성 승객 수")
print((titanic['Sex'] == 'female').sum())

4. 여성 승객 수
314

In [6]:
# 5. 운임이 50 이상인 승객의 이름과 운임 출력

print("\n5. 운임 50 이상 승객 이름과 운임")
high_fare = titanic[titanic['Fare'] >= 50][['Name', 'Fare']]
print(high_fare)

5. 운임 50 이상 승객 이름과 운임
                                                  Name      Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   53.1000
6                              McCarthy, Mr. Timothy J   51.8625
27                      Fortune, Mr. Charles Alexander  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208
..                                                 ...       ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  164.8667
863                  Sage, Miss. Dorothy Edith "Dolly"   69.5500
867               Roebling, Mr. Washington Augustus II   50.4958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   83.1583

[161 rows x 2 columns]

In [7]:
# 6. 나이가 18세 미만인 승객들의 생존율을 계산하여 출력

print("\n6. 18세 미만 승객 생존율")
young = titanic[titanic['Age'] < 18]
survival_rate = young['Survived'].mean()
print('생존율: {:.2%}'.format(survival_rate))

6. 18세 미만 승객 생존율
생존율: 53.98%

In [8]:
# 7. 2등급 객실에 탑승한 승객의 평균 운임을 계산하여 출력

print("\n7. 2등급 객실 평균 운임")
pclass2 = titanic[titanic['Pclass'] == 2]
mean_fare_pclass2 = pclass2['Fare'].mean()
print('평균 운임:', mean_fare_pclass2)

7. 2등급 객실 평균 운임
평균 운임: 20.662183152173913

In [9]:
# 8. 승객 중 나이가 가장 많은 사람의 나이와 이름을 출력

print("\n8. 최고령 승객의 나이와 이름")
oldest = titanic.loc[titanic['Age'].idxmax()]
print('최고령 승객 나이:', oldest['Age'], '/ 이름:', oldest['Name'])

8. 최고령 승객의 나이와 이름
최고령 승객 나이: 80.0 / 이름: Barkworth, Mr. Algernon Henry Wilson

In [10]:
# 9. S 항구에서 탑승한 승객의 수를 출력

print("\n9. S 항구 탑승자 수")
print((titanic['Embarked'] == 'S').sum())

9. S 항구 탑승자 수
644

In [11]:
# 10. 3등급 객실에 탑승한 남성 승객 중 생존자의 수를 출력

print("\n10. 3등급 남성 중 생존자 수")
cond = (titanic['Pclass'] == 3) & (titanic['Sex'] == 'male') & (titanic['Survived'] == 1)
print(cond.sum())

10. 3등급 남성 중 생존자 수
47

- 고급문제

In [12]:
# 1. 생존자(Survived)와 그렇지 않은 사람들의 `Pclass`(객실 등급)별 평균 나이를 각각 출력

print('\n1. 생존여부별 Pclass별 평균 나이')
print(titanic.groupby(['Survived', 'Pclass'])['Age'].mean())

1. 생존여부별 Pclass별 평균 나이
Survived  Pclass
0         1         43.695312
          2         33.544444
          3         26.555556
1         1         35.368197
          2         25.901566
          3         20.646118
Name: Age, dtype: float64

In [13]:
# 2. `SibSp`(형제/배우자 수)가 3 이상인 승객들 중에서, `Fare`(운임) 상위 5명의 이름과 나이를 출력

sibsp3 = titanic[titanic['SibSp'] >= 3].sort_values('Fare', ascending=False).head(5)
print(sibsp3[['Name', 'Age']])

                               Name   Age
27   Fortune, Mr. Charles Alexander  19.0
88       Fortune, Miss. Mabel Helen  23.0
341  Fortune, Miss. Alice Elizabeth  24.0
159      Sage, Master. Thomas Henry   NaN
180    Sage, Miss. Constance Gladys   NaN

In [14]:
# 3. 승객 중에서 `Age` 값이 결측치(NaN)인 사람들의 `Embarked`(탑승 항구)별 분포를 출력

print(titanic[titanic['Age'].isna()]['Embarked'].value_counts())

Embarked
S    90
Q    49
C    38
Name: count, dtype: int64

In [15]:
# 4. 나이가 16세 미만이고, 혼자 탑승한(`SibSp == 0` and `Parch == 0`) 승객의 이름과 성별, 생존 여부를 출력

alone_child = titanic[(titanic['Age'] < 16) & (titanic['SibSp'] == 0) & (titanic['Parch'] == 0)]
print(alone_child[['Name', 'Sex', 'Survived']])

                                     Name     Sex  Survived
14   Vestrom, Miss. Hulda Amanda Adolfina  female         0
22            McGowan, Miss. Anna "Annie"  female         1
731              Hassan, Mr. Houssein G N    male         0
777         Emanuel, Miss. Virginia Ethel  female         1
780                  Ayoub, Miss. Banoura  female         1
875      Najib, Miss. Adele Kiamie "Jane"  female         1

In [16]:
# 5. 1등급(Pclass == 1) 객실에 탑승한 승객들 중에서, 운임(Fare)이 평균보다 높은 사람들의 이름과 나이, 운임을 출력

fc = titanic[titanic['Pclass'] == 1]
fc_high_fare = fc[fc['Fare'] > fc['Fare'].mean()]
print(fc_high_fare[['Name', 'Age', 'Fare']])

                                                  Name   Age      Fare
27                      Fortune, Mr. Charles Alexander  19.0  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)   NaN  146.5208
88                          Fortune, Miss. Mabel Helen  23.0  263.0000
118                           Baxter, Mr. Quigg Edmond  24.0  247.5208
195                               Lurette, Miss. Elise  58.0  146.5208
..                                                 ...   ...       ...
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  43.0  211.3375
802                Carter, Master. William Thornton II  11.0  120.0000
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  52.0   93.5000
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)   NaN   89.1042
856         Wick, Mrs. George Dennick (Mary Hitchcock)  45.0  164.8667

[66 rows x 3 columns]

In [17]:
# 6. 나이(Age), 객실 등급(Pclass), 운임(Fare) 값에 결측치가 없는 승객들만 대상으로, 각 등급별 평균 운임과 중앙값 운임을 출력

ok = titanic.dropna(subset=['Age', 'Pclass', 'Fare'])
print('평균 운임:\n', ok.groupby('Pclass')['Fare'].mean())
print('중앙값 운임:\n', ok.groupby('Pclass')['Fare'].median())

평균 운임:
 Pclass
1    87.961582
2    21.471556
3    13.229435
Name: Fare, dtype: float64
중앙값 운임:
 Pclass
1    69.3000
2    15.0458
3     8.0500
Name: Fare, dtype: float64

In [18]:
# 7. 승객들의 `Embarked` 별 평균 나이를 계산하고, 가장 많은 승객이 탑승한 항구를 기준으로 생존율을 계산하여 출력

emb_mean_age = titanic.groupby('Embarked')['Age'].mean()
most_embarked = titanic['Embarked'].value_counts().idxmax()
most_embarked_survival = titanic[titanic['Embarked'] == most_embarked]['Survived'].mean()
print('Embarked별 평균 나이:\n', emb_mean_age)
print(f"최다탑승({most_embarked}) 항구 생존율: {most_embarked_survival:.2%}")

Embarked별 평균 나이:
 Embarked
C    30.814769
Q    28.089286
S    29.445397
Name: Age, dtype: float64
최다탑승(S) 항구 생존율: 33.70%

In [19]:
# 8. 승객 중에서 여성(`Sex == 'female'`)이면서 30세 이상인 사람들의 생존율을 계산하여 출력

wf = titanic[(titanic['Sex']=='female') & (titanic['Age'] >= 30)]
print(f'생존율: {wf["Survived"].mean():.2%}')

생존율: 80.70%

In [20]:
# 9. 동반한 형제 또는 배우자 수(`SibSp`)와 부모 또는 자녀 수(`Parch`)의 합이 3 이상인 승객들만을 대상으로, 그들의 생존율을 계산하여 출력

big_family = titanic[titanic['SibSp'] + titanic['Parch'] >= 3]
print(f'생존율: {big_family["Survived"].mean():.2%}')

생존율: 34.07%

In [21]:
# 10. `Cabin`(객실 번호) 정보가 있는 승객들만을 대상으로, 그들의 생존율을 객실 등급별로 구분하여 계산하여 출력

with_cabin = titanic[titanic['Cabin'].notnull()]
print(with_cabin.groupby('Pclass')['Survived'].mean())

Pclass
1    0.664773
2    0.812500
3    0.500000
Name: Survived, dtype: float64