## 자료구조

### 리스트
특징
- 순서가 있는 데이터 구조


my_list=[1,2,3,4,'hi'] # 다른 자료형을 넣어도 무관

print(my_list)

In [1]:
my_list=[1,2,3,4,2] # 다른 자료형을 넣어도 무관

print(my_list)

[1, 2, 3, 4, 2]

In [5]:
my_list=[1,2,3,4,2]
my_list[1]

2

In [6]:
my_list=[1,2,3,4,2]
my_list.append(4)
print(my_list)

[1, 2, 3, 4, 2, 4]

### 튜플
- 순서가 있는 데이터구조 -> 인덱스가 있다

In [8]:
tuple = (1,2,3,4,4)
print(tuple)

(1, 2, 3, 4, 4)

In [10]:
tuple = (1,2,3,4,4)
tuple[3]

4

튜플은 값 생성한 뒤에 수정 안됨

In [12]:
tuple = (1,2,3,4,4)
# tuple[3] = '1'

### 딕셔너리

- key - value 쌍

In [14]:
dict = {
    'name' : 'jw',
    'age' : 30,
    'city' : 'seoul'
}

In [18]:
print(dict['name'])
dict['city'] = '서울' # key는 중복이 안됨
print(dict['city'])

dict['job'] = 'worker'

print(dict)

jw
서울
{'name': 'jw', 'age': 30, 'city': '서울', 'job': 'worker'}

In [22]:
dict2 = {
    'name' : 'jw2',
    'age' : 302,
    'city' : 'seoul2'
}

dict3 = {
    'name' : 'jw3',
    'age' : 303,
    'city' : {
        'home' : '시흥',
        'job' : '창원'
    }
}

In [23]:
dict_list = [dict, dict2, dict3]

print(dict_list)

[{'name': 'jw', 'age': 30, 'city': '서울', 'job': 'worker'}, {'name': 'jw2', 'age': 302, 'city': 'seoul2'}, {'name': 'jw3', 'age': 303, 'city': {'home': '시흥', 'job': '창원'}}]

### Set
- 중복제거
- 순서없음

In [25]:
set = {1,2,3,4,5,1}

print(set)

{1, 2, 3, 4, 5}